* {
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

main {
    flex: 1;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.search-bar {
    width: 100%;
}

.search-bar label {}

.search-bar input {
    all: unset;
    border: 1px solid gray;
    box-shadow: none;
    /* FIXME: search bar too large */
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}


.sections {
    width: 100%;
    /* border: 1px solid red; */
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.section>input {
    padding: 100px 100px;
}

.section {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: .5rem;
    /* background-color: gray; */
}

.section>.section-character {
    margin-bottom: .55rem;
    font-style: bold;
}

.section>.section-content {
    display: grid;
    gap: 1rem;
    font-size: 1rem;
    font-style: normal;
}

footer {
    max-width: 800px;
    width: 100%;
    margin: auto;
    /* ---to be discussed to place last item--- */
}

.block {
    display: block;
}

.hidden {
    display: none;
}

/* -------- */

a {
    color: black;
    text-decoration: none;
}

.section>a {
    color: black;
    text-decoration: none;
}

.wrapper {
    width: 1170px;
    margin: auto;
    margin-top: 45px;
}

#last-modified-date {
    color: lightslategray;
    font-size: 14px;
}

header {
    width: 100%;
    height: 100px;
}

#hometag {
    float: left;
    font-weight: bold;
}

#websitelinks {
    display: grid;
    margin-top: 20px;
    font-size: 15px;
}



#websitelinks a {
    color: darkgoldenrod;
    text-decoration: wavys;
}